nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: square;
}
.nonveg{
    flex-direction: column;
    gap: 10px;
    background-color: lightgray;
    color: black;
}
.nonveg{
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
}
ul{
    display: flex;
    gap: 1cm;
    list-style: square;
}