h1{

    height: 100px;
    background: conic-gradient(darkblue,blue,skyblue,pink,deeppink);
}
body{
    display:flex;
    flex-direction:column;
    /*justify-content:center;
    align-items:center;*/
    flex-wrap:wrap;
    gap: 20px;
    flex-grow:1;

    height:5cm;
    background:conic-gradient(skyblue,blue,darkblue,pink,deeppink,purple,black);
}
p{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1cm;
    flex-grow:1;


    

}